 .logo-design{
    width:100px;
    height:100px;
    padding-left: 20px;
  
  }/*
  #navbarbg-img{

    background-color:rgb(173, 171, 171);
  }

  .link1{
    text-decoration: none;
    color: black;
  }
  #togglebutton{
    background-color: black;

  } */