 .logo-design{
    width:100px;
    height:100px;
    padding-left: 20px;
  
  }/*
  #navbarbg-img{

    background-color:rgb(173, 171, 171);
  }

  .link1{
    text-decoration: none;
    color: black;
  }
  #togglebutton{
    background-color: black;

  } */
  .modal-title-styling{
    color:rgb(40, 66, 2);
    text-align: center;
    font-size: large;
    padding-top: 0.2rem;
  }
  
  .modal-body{
    background-image: url(../images/modal-background-img.png);
  }
  
  .modal-tytle-box{
    border: solid brown;
   
    width: 9rem;
    margin-left: 9rem;
    background-color: burlywood;
    border-radius: 2rem;
    
  }